<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="./autoload.php">
<testsuites>
    <testsuite name="weboniseModule">
        <directory>testsuites/webonise</directory>
    </testsuite>
    <testsuite name="inchooModule">
        <directory>testsuites/Inchoo</directory>
    </testsuite>
</testsuites>
</phpunit>
